body {
  margin: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #a7a0a0;
  padding: 4px;
}

.elem-wrap {
  position: relative;
  cursor: grab;
  margin: 16px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.collapsed .elem-wrap table > tbody > tr:not(:first-child) {
  display: none;
}

.elem-wrap table > tbody > tr:first-child {
  font-weight: 600;
}

.preview-container .elem-wrap {
  margin: 6px;
  border: 1px solid #a7a0a0;
}

.preview-container table  {
  border: 0;
}

.preview-container td  {
  border: 0;
}

.preview-container hr  {
  margin: 8px;
}

.preview-container p, .preview-container h3, .preview-container strong {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
  font-weight: bold;
  font-size: 10px;
  padding: 4px;
  margin: 0;
  height: 12px;
}

.preview-container a {
  text-decoration: none;
  color: #fff;
}

.light .toolbox {
  background-color: #efeff1;
  border: 1px solid #c6c9cb;
}

.light .toolbox .icon {
  color: #363B41;
  background-color: #efeff1;
}

.light .toolbox .icon:hover {
  color: #363B41;
  background-color: #e8e8ec;
}

.collapsed .elem-wrap .toolbox {
  display: none !important;
}

.block-container.collapsed .elem-wrap p, .block-container.collapsed .elem-wrap h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 650px;
  border: 1px solid #ccc;
  margin: 0;
  padding: 4px;
}

.not-found-message {
  margin: 8px;
}

.preview-container {
  width: 240px;
  border-left: 0.5px solid #616467ba;
  position: sticky;
  top: 0;
  overflow: auto;
  right: 0;
  height: calc(100vh - -306px);
  font-size: 10px;
}

#topnav {
  display: flex;
  position: fixed;
  width: calc(100% - 16px);
  height: 40px;
  z-index: 10000;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-bottom: 68px;
  background-color: #02040A;
  border-bottom: 1px solid #21262C;
}

#topnav.light {
  background-color: #efeff1;
  border-bottom: 1px solid #d1d5da;
}

#root {
  background-color: #0E1117;
}

.nav-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 12px;
}

.main-wrapper {
  max-width: 100%;
  margin-top: 36px;
  transform-origin: top left;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
}

.doc-container {
  overflow: scroll;
  width: 100%;
  margin-top: 40px;
}

.block-container {
  width: 696px;
  box-shadow: 3px 5px 5px rgb(0 0 0 / 7%), 3px 7.8px 15px rgb(0 0 0 / 9%), 3px 8px 13px rgb(0 0 0 / 12%);
  border-radius: 4px;
  height: fit-content;
  padding: 80px 60px;
  margin-top: 40px;
  margin: auto;
  position: relative;
}

.block-container .elem-wrap.highlight {
  border-color:pink;
}

img {
  max-width: 300px;
}

hr {
  border-top: 2px dashed black;
  margin: 20px 0;
  width: 100px;
  border: none;
  height: 1px;
  background: #000;
  background: repeating-linear-gradient(90deg, #fff, #fff 18px, transparent 18px, transparent 36px);
}

.light hr {
  background:repeating-linear-gradient(90deg, #000, #000 18px, transparent 18px, transparent 36px);
}

.orig,
.added,
.deleted {
  position: relative;
}

.added {
  background-color: #1d4428cf;
}

.deleted {
  background-color: #542527cf;
}

.light .added {
  background-color: #ccffd8a6;
}

.light .deleted {
  background-color: #ffebe9;
}

.light .main-wrapper {
  background-color: #f3f3f3;
}

.light .block-container {
  background: #fff;
  border: 1px solid #d4cbcb;
}

.dark .block-container {
  background-color: #262626;
  border: 1px solid #666666;
}

.elem-wrap:hover .toolbox:not(.selected) {
  display: flex;
}

.toolbox {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #21262C;
  border: 1px solid #363B41;;
}

 .toolbox button{
  border: 0;
 }

 .screen-tools {
  position: sticky;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  gap: 8px;
  border: 1px solid #ebe3e3;
  border-radius: 4px;
  width: 114px;
 }

 .range-tool {
  border: 1px solid #d1c7c7;
  border-radius: 4px;
  padding: 6px;
  position: fixed;
  top: 60px;
  left: 0;
  font-size: 10px;
  height: 40px;
 }

 .dark.screen-tools, .dark.range-tool {
  background-color: #363B41;
  border-color: #535457;
 }

 .accept-reject {
  position: absolute;
  top: -1px;
  right: -1px;
  background: #000;
  border: 1px solid #898686;
  border-radius: 2px;
 }

 .light .accept-reject {
  background-color: #fff;
  border-color: #c5bfbf;
 }

 .light .toolbox {
  background-color: #fff;
  border-color: #c5bfbf;
 }

 .accept-reject button {
  border: 0;
 }
